/nbproject/private/
Virtual_Implementation/client/device_log.txt

Virtual_Implementation/server/device_0_readings.txt

Virtual_Implementation/server/device_log.txt

Virtual_Implementation/server/device_log.txt

Virtual_Implementation/client/client_settings.xml
